AccessControl==4.0
Acquisition==4.6
alembic==1.3.1
appdirs==1.4.3
apturl==0.5.2
asn1crypto==0.24.0
astroid==2.3.3
AuthEncoding==4.1
backcall==0.1.0
beautifulsoup4==4.7.1
blinker==1.4
Brlapi==0.6.6
BTrees==4.5.1
certifi==2019.9.11
cffi==1.12.3
Chameleon==3.6.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorzero==1.1
command-not-found==0.3
crayons==0.3.0
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
DateTime==4.3
decorator==4.4.0
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
docopt==0.6.2
DocumentTemplate==3.1b2
em-keyboard==0.0.7
entrypoints==0.3
ExtensionClass==4.4
flake8==3.7.9
Flask==1.1.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gpg==1.10.0
gpiozero==1.5.1
guizero==1.0.0
html5lib==0.999999999
httpie==0.9.8
httplib2==0.9.2
idna==2.8
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jupyter-client==5.3.4
jupyter-core==4.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.1.0
Markdown==2.6.9
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mu-editor==1.0.2
MultiMapping==4.1
netifaces==0.10.4
nudatus==0.0.4
numpy==1.17.3
oauth==1.0.1
olefile==0.45.1
opencv-python==4.1.1.26
parso==0.5.1
PasteDeploy==2.0.1
Persistence==3.0
persistent==4.5.0
pexpect==4.7.0
pgzero==1.2
pickleshare==0.7.5
pigpio==1.44
Pillow==6.2.0
powerline-status==2.7
prompt-toolkit==2.0.10
protobuf==3.0.0
ptyprocess==0.6.0
PyAudio==0.2.11
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
pygobject==3.26.1
PyJWT==1.7.1
pylint==2.4.4
pylint-flask==0.6
pylint-plugin-utils==0.6
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.4
PyPDF2==1.26.0
pyperclip==1.7.0
PyQt5==5.12.2
PyQt5-sip==4.19.19
PyQtChart==5.11.3
pyRFC3339==1.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
python-editor==1.0.4
python-gettext==4.0
pytz==2019.3
pyxattr==0.6.0
pyxdg==0.25
PyYAML==3.12
pyzmq==18.1.0
QScintilla==2.10.8
qtconsole==4.3.1
reportlab==3.4.0
requests==2.22.0
requests-unixsocket==0.1.5
RestrictedPython==4.0
roman==3.2
scour==0.36
SecretStorage==2.3.1
semver==2.8.1
Send2Trash==1.4.2
simplejson==3.13.2
six==1.13.0
soupsieve==1.9.1
SpoofMAC==2.1.1
SQLAlchemy==1.3.11
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tornado==6.0.3
traitlets==4.3.3
transaction==2.4.0
typed-ast==1.4.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.7
usb-creator==0.3.3
wadllib==1.3.2
waitress==1.3.0
wcwidth==0.1.7
webencodings==0.5
WebOb==1.8.5
WebTest==2.0.33
Werkzeug==0.16.0
wrapt==1.11.2
WSGIProxy2==0.4.6
WTForms==2.2.1
xerox==0.4.1
xkit==0.0.0
youtube-dl==2018.3.14
z3c.pt==3.2.0
zc.lockfile==1.4
ZConfig==3.4.0
zExceptions==4.1
ZODB==5.5.1
zodbpickle==1.0.3
Zope==4.0
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.3.0
zope.browserresource==4.3
zope.cachedescriptors==4.3.1
zope.component==4.5
zope.configuration==4.3.1
zope.container==4.2.2
zope.contentprovider==4.2.1
zope.contenttype==4.4
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==4.2.0
zope.globalrequest==1.5
zope.hookable==4.2.0
zope.i18n==4.6.2
zope.i18nmessageid==4.3.1
zope.interface==4.6.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.4.1
zope.processlifetime==2.3.0
zope.proxy==4.3.1
zope.ptresource==4.2.0
zope.publisher==5.0.1
zope.schema==4.9.3
zope.security==4.3.1
zope.sequencesort==4.1.2
zope.site==4.2.2
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0
zope.testbrowser==5.3.2
zope.testing==4.7
zope.traversing==4.3.1
zope.viewlet==4.2.1
zplot==1.41
