{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>

<p>We have developed a system, called E-HealthCard that digitizes healthcare information for all healthcare consumers and providers globally.</p>

<p>Our team is passionate about achieving better healthcare management which is uniquely tailored to the patient, pragmatic for the patient as well as medical professionals.</p>

<p>Out main objective is to provide the necessary personnel with the necessary information about a patient’s medical history in order to treat him/her better.</p>

<p>A &lsquo;E-HealthCard&rsquo; contains a unique identifier which is used to index into a globally available database housing the medical history of the holder.</p>

{% endblock %}