{% extends 'base.html' %}

{% block content %}
<h1>Details:</h1>
<table>
    <tr>
        <td colspan="2"><img src="{{ current_user.avatar() }}"></td>
    </tr>
    <tr>
        <td>Firstname: </td>
        <td>{{ current_user.firstname }}</td>
    </tr>

    <tr>
        <td>Middlename: </td>
        <td>{{ current_user.middlename }}</td>
    </tr>

    <tr>
        <td>Lastname: </td>
        <td>{{ current_user.lastname }}</td>
    </tr>

    <tr>
        <td>Email: </td>
        <td>{{ current_user.email }}</td>
    </tr>

    <tr>
        <td>Aadhar Card: </td>
        <td>{{ current_user.aadhar_card }}</td>
    </tr>

    <tr>
        <td>Phone Number: </td>
        <td>{{ current_user.phone_number }}</td>
    </tr>

    <tr>
        <td>Address: </td>
        <td>{{ current_user.address }}</td>
    </tr>
</table>

<p><a href="{{ url_for('edit_profile') }}">Edit Profile</a></p>
{% endblock %}