{% extends 'base.html' %}

{% block content %}

<h1>Enter records:</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.user_id.label }}</td>
            <td>{{ form.user_id(disabled=True) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.user_id.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.doctor_id.label }}</td>
            <td>{{ form.doctor_id(disabled=True) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.doctor_id.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.symptoms.label }}</td>
            <td>{{ form.symptoms() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.symptoms.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.diagnosis.label }}</td>
            <td>{{ form.diagnosis() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.diagnosis.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.prescribed_medication.label }}</td>
            <td>{{ form.prescribed_medication() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.prescribed_medication.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.notes.label }}</td>
            <td>{{ form.notes() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.notes.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>


{% endblock %}