{% extends 'base.html' %}

{% block content %}
<h1>Admin Panel</h1>

<div id="message"></div>

<div id="doctors">
<table border='1'>
    <tr>
        <th>Doctor ID</th>
        <th>Verification Status</th>
        <th></th>
    </tr>
    {% for doctor in doctors %}
        <tr>
        <td>{{ doctor.doctor_id }}</td>
        <td><span id="status-{{ doctor.doctor_id }}">{{ doctor.verified }}</span></td>
        <td><button id="{{ doctor.doctor_id }}">Toggle</button></td>
        </tr>
    {% endfor %}
</table>
</div>


<script>
    const buttons = $('#doctors button');
    $.each(buttons, (index, value) => {
        console.log(value.id);
        value.onclick = function(e) {
            $.ajax({
                url: '/admin/verify',
                data: JSON.stringify({
                    id: this.id,
                }),
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                success: data => {
                    console.log(data);
                    $('#status-' + this.id).html(data['account_state']);
                    const msg = $('#message');
                    msg.html(msg.html() + "<br>" + data['message']);
                    setTimeout(() => {
                        msg.html('');
                    }, 2000);
                }
            });
        }
    });
</script>

{% endblock %}