<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }} | E-HealthCard</title>
    {% else %}
    <title>E-HealthCard</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="content">
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='favicon.ico') }}" width="30"
                    height="30" class="d-inline-block align-top" alt="">
                E-HealthCard</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                    {% else %}
                    <li class="nav-item"> <a class="nav-link"
                            href="{{ url_for('account', id=current_user.id) }}">Profile</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('medical_information') }}">Medical
                            Information</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('qrcode') }}">QR Code</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            For doctors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('add_record') }}">Enter patient records</a>
                            <a class="dropdown-item" href="{{ url_for('static_record') }}">View static information</a>
                            <a class="dropdown-item" href="{{ url_for('dynamic_records') }}">View dynamic records</a>
                            <a class="dropdown-item" href="{{ url_for('view_all_records') }}">View all the records</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('doctor_profile') }}">View profile</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>

                {% if not current_user.is_anonymous %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="page-footer footer font-small pt-4 pb-1">
        <div class="footer-copyright text-center py-3">&copy; E-HealthCard |
            Made with ❤️ by <a href="https://ninadsachania.github.io">Ninad Sachania</a>
            | <a href="{{ url_for('faqs') }}">FAQs</a>
            | <a href="{{ url_for('contact') }}">Contact Us</a>
            | <a href="{{ url_for('about') }}">About Us</a>
        </div>
    </footer>
</body>

</html>