{% extends 'base.html' %}

{% block content %}
<h1>Change Password:</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.current_password.label }}</td>
            <td>{{ form.current_password(autofocus=True, size="25") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.current_password.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.new_password.label }}</td>
            <td>{{ form.new_password(size="25") }}</td>
        </tr>
        <tr>
        <td></td>
        <td>
            {% for error in form.new_password.errors %}
            <span class="form-error">[{{ error }}]</span>
            {% endfor %}
        </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>
{% endblock %}