{% extends 'base.html' %}

{% block content %}
<h1 class="display-4">Change Password</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <div class="form-group"></div>
        <tr>
            <td>{{ form.current_password.label }}</td>
        </tr>
        <tr>
            <td>{{ form.current_password(autofocus=True, size="25", class_="form-control") }}</td>
        </tr>
        <tr>
            <td>
                {% for error in form.current_password.errors %}
            <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </td>
        </tr>
        </div>

        <div class="form-group">
            <tr>
                <td>{{ form.new_password.label }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password(size="25", class_="form-control") }}</td>
            </tr>
            <tr>
                <td>
                    {% for error in form.new_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td>{{ form.submit(class_="btn btn-primary mt-3 mb-3") }}</td>
            </tr>
        </div>
    </table>
</form>
{% endblock %}