{% extends 'base.html' %} {% block content %}
<h1 class="display-4">User Profile</h1>

<table class="table table-sm">
  <tr>
    <td align="center" colspan="2">
      <img src="{{ current_user.avatar() }}" />
    </td>
  </tr>
</table>

<table class="table table-sm">
  <tr>
    <td>Firstname</td>
    <td>{{ current_user.firstname }}</td>
  </tr>

  <tr>
    <td>Middlename</td>
    <td>{{ current_user.middlename }}</td>
  </tr>

  <tr>
    <td>Lastname</td>
    <td>{{ current_user.lastname }}</td>
  </tr>

  <tr>
    <td>Email 📧</td>
    <td>{{ current_user.email }}</td>
  </tr>

  <tr>
    <td>Aadhar Card 💳</td>
    <td>
      {{ "{0} {1} {2}".format(current_user.aadhar_card[:4],
      current_user.aadhar_card[4:8], current_user.aadhar_card[8:]) }}
    </td>
  </tr>

  <tr>
    <td>Phone Number ☎️</td>
    <td>+91 {{ current_user.phone_number }}</td>
  </tr>

  <tr>
    <td>Address 🏠</td>
    <td>{{ current_user.address }}</td>
  </tr>
</table>

<h1 class="display-4 mt-4">Details</h1>

<table class="table table-sm">
  <tr>
    <td>Doctor ID</td>
    <td>{{ data.doctor_id }}</td>
  </tr>
  <tr>
    <td>Hospital Name 🏥</td>
    <td>{{ data.hospital_name }}</td>
  </tr>

  <tr>
    <td>Designation 🩺</td>
    <td>{{ data.designation }}</td>
  </tr>

  <tr>
    <td>Verified</td>
    <td>
      {% if data.is_verified %} Yes ✅ {% else %} No ❌ {% endif %}
    </td>
  </tr>
</table>

{% endblock %}