{% extends 'base.html' %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.dob.label }}</td>
            <td>{{ form.dob(autofocus=True, size="32") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.dob.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <td>{{ form.gender.label }}</td>
            <td>{{ form.gender() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.gender.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.emergency_contact.label }}</td>
            <td>{{ form.emergency_contact(size="32", maxlength="10", minlength="10") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.emergency_contact.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.height.label }}</td>
            <td>{{ form.height(size="32") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.height.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.weight.label }}</td>
            <td>{{ form.weight(size="32") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.weight.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.bloodgroup.label }}</td>
            <td>{{ form.bloodgroup(size="32", maxlength="3") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.bloodgroup.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.allergies.label }}</td>
            <td>{{ form.allergies(rows="5", cols="30") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.allergies.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.current_medication.label }}</td>
            <td>{{ form.current_medication(rows="5", cols="30") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.current_medication.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
        
    </table>
</form>
{% endblock %}