{% extends 'base.html' %}

{% block content %}
<h1>Edit Profile:</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
            <tr>
                    <td>{{ form.firstname.label }}</td>
                    <td>{{ form.firstname(size=32, autofocus=True) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.firstname.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.middlename.label }}</td>
                    <td>{{ form.middlename(size=32) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.middlename.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.lastname.label }}</td>
                    <td>{{ form.lastname(size=32) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.lastname.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.aadhar_card.label }}</td>
                    <td>{{ form.aadhar_card(size=32, maxlength="12") }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.aadhar_card.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.phone_number.label }}</td>
                    <td>{{ form.phone_number(size=32, maxlength="10") }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.phone_number.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email(size=32) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.email.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td>{{ form.address.label }}</td>
                    <td>{{ form.address(size=32, cols="30", rows="5") }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% for error in form.address.errors %}
                        <span class="form-error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
        
                <tr>
                    <td></td>
                    <td>{{ form.submit() }}</td>
                </tr>
    </table>
</form>

<p><a href="{{ url_for('change_password') }}">Change Password</a></p>
{% endblock %}