{% extends 'base.html' %}

{% block content %}
<h1>FAQs</h1>

<h4>How can I join E-HealthCard?</h4>

<p>You can register for the E-HealthCard by visiting by visiting <a target="_blank" href="{{ url_for('register')}}">here</a>.</p>

<h4>How can I join E-HealthCard as a doctor?</h4>

<p>First, you register yourself as a regular user, and then click <a target="_blank" href="{{ url_for('doctor_registration') }}">here</a>.</p>


<h4>Who benfits from E-HealthCard?</h4>

<p>E-HealthCard is primarily useful to all its users to digitally store and maintain their medical history. However, it is also useful to the doctors (to refer to patients’s data anytime), emergency responders and chemists.</p>

<h4>From where can I change my dynamic records?</h4>

<p>You cannot change your dynamic records. The data is added by the doctors as a part of their consultation and diagnostic process. You can make changes to your profile information and your static information.</p>

<h4>How do I delete my account?</h4>

<p>Currently, an account data cannot be deleted from our system. We are working on that feature.</p>

<h4>I have applied for a doctor's account and it still hasn't been approved. Where and who do I contact?</h4>

<p>Just shoot us a mail <a href="mailto:ninad.sachania@gmail.com">here</a> with your id and name.</p>

<h4>Who will be able to access my medical history?</h4>

<p>Your static information will be available to everyone provided your &lsquo;id&rsquo;. Your dynamic information will only be visible to you and doctors.</p>

<h4>Where is the iPhone version of the app?</h4>

<p>We're working hard on it.</p>

<h4>Can I book an appointment through E-HealthCard?</h4>

<p>Not currently, but we're working on it.</p>
{% endblock %}