{% extends 'base.html' %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.password.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>{{ form.password2.label }}</td>
            <td>{{ form.password2() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.password2.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>
{% endblock %}