{% extends 'base.html' %}

{% block content %}
<h1>View dynamic records</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.id.label }}</td>
            <td>{{ form.id() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% for error in form.id.errors %}
                <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>

{% if records %}
    <h2>Details:</h2>
    <table>
        <tr>
            <td colspan="2"><img src="{{ user.avatar() }}"></td>
        </tr>
        <tr>
            <td>Firstname: </td>
            <td>{{ user.firstname }}</td>
        </tr>

        <tr>
            <td>Middlename: </td>
            <td>{{ user.middlename }}</td>
        </tr>

        <tr>
            <td>Lastname: </td>
            <td>{{ user.lastname }}</td>
        </tr>

        <tr>
            <td>Email: </td>
            <td>{{ user.email }}</td>
        </tr>

        <tr>
            <td>Aadhar Card: </td>
            <td>{{ user.aadhar_card }}</td>
        </tr>

        <tr>
            <td>Phone Number: </td>
            <td>{{ user.phone_number }}</td>
        </tr>

        <tr>
            <td>Address: </td>
            <td>{{ user.address }}</td>
        </tr>
    </table>

    <hr>

    <h2>Dynamic Records:</h2>
    {% for record in records %}
        <table>
            <tr>
                <td>ID:</td>
                <td>{{ record['id'] }}</td>
            </tr>

            <tr>
                <td>Symptoms:</td>
                <td>{{ record['symptoms'] }}</td>
            </tr>

            <tr>
                <td>Diagnosis:</td>
                <td>{{ record['diagnosis'] }}</td>
            </tr>

            <tr>
                <td>Prescribed Medication:</td>
                <td>{{ record['prescribed_medication'] }}</td>
            </tr>

            <tr>
                <td>Notes:</td>
                <td>{{ record['notes'] }}</td>
            </tr>

            <tr>
                <td>Date created:</td>
                <td>{{ record['date_created'] }}</td>
            </tr>
        </table>

        <hr>
    {% endfor %}
{% endif %}


{% endblock %}