{% extends 'base.html' %} {% block content %}
<h1 class="display-4">View static records</h1>
<form method="post" novalidate>
  {{ form.hidden_tag() }}
  <table>
    <div class="form-group">
      <tr>
        <td>{{ form.id.label }}</td>
      </tr>
      <tr>
        <td>{{ form.id(class_="form-control") }}</td>
      </tr>
      <tr>
        <td>
          {% for error in form.id.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </td>
      </tr>
    </div>

    <tr>
      <td>{{ form.submit(class_="btn btn-primary") }}</td>
    </tr>
  </table>
</form>

<!-- Static information -->
{% if static_data %}
<h1 class="display-5 mt-5">Static Data</h1>
<table class="table table-sm">
  <tr>
    <td>Date of Birth 👶</td>
    <td>{{ static_data.dob }}</td>
  </tr>

  <tr>
    <td>Gender</td>
    <td>{{ static_data.gender }}</td>
  </tr>

  <tr>
    <td>Emergency Contact 📞</td>
    <td>+91 {{ static_data.emergency_contact }}</td>
  </tr>

  <tr>
    <td>Height (cm)</td>
    <td>{{ static_data.height }} cm</td>
  </tr>

  <tr>
    <td>Weight (kg)</td>
    <td>{{ static_data.weight }} kg</td>
  </tr>

  <tr>
    <td>Allergies</td>
    <td>{{ static_data.allergies }}</td>
  </tr>

  <tr>
    <td>Current Medication 💊</td>
    <td>{{ static_data.current_medication }}</td>
  </tr>
</table>
{% else %} {% endif %} {% if data %}
<h1 class="display-5 mt-5">User Data</h1>
<table class="table table-sm">
  <tr>
    <td>Firstname</td>
    <td>{{ data.firstname }}</td>
  </tr>

  <tr>
    <td>Middlename</td>
    <td>{{ data.middlename }}</td>
  </tr>

  <tr>
    <td>Lastname</td>
    <td>{{ data.lastname }}</td>
  </tr>

  <tr>
    <td>Email 📧</td>
    <td>{{ data.email }}</td>
  </tr>

  <tr>
    <td>Aadhar Card 💳</td>
    <td>
      {{ "{0} {1} {2}".format(data.aadhar_card[:4], data.aadhar_card[4:8],
      data.aadhar_card[8:]) }}
    </td>
  </tr>

  <tr>
    <td>Phone Number ☎️</td>
    <td>{{ "+91 " + data.phone_number }}</td>
  </tr>

  <tr>
    <td>Address 🏠</td>
    <td>{{ data.address }}</td>
  </tr>
</table>
{% else %} {% endif %} {% endblock %}
